.nav{
    margin: 0 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 3em;
    align-items: center;
}

.button{
    background-color: rgb(255, 132, 0);    
    padding: 0 0.5em 0 0.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    color:black;
    text-decoration: none;
    border-radius: 1em;
}

.home{
    font-weight: bold;
    font-size: 1.2em;
}

.home img{
    width: 2em;

}

.create img{
    width: 2em;
}