.splash{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    
    width: 100vh;  
}

/* .navlink{
    position:absolute;
    top:40%;
    right: -5%;

} */
.navlink img{
    width: 20vw;
}