.search{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.search input{
    font-size: 1.5em;
    border-radius: 0.4em;
    width: 8em;
}

.search button{
    background-color: rgb(255, 132, 0); 
    cursor: pointer;
    border-radius: 1em;
    border-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.search img{
    width: 1.8em;
}
.search button:hover{
    border-color: white;
    text-shadow: 0 0 0.8em rgb(53, 255, 53);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
