.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.loader {
    border: 16px solid rgb(255, 183, 0);
    border-radius: 50%;
    border-top: 16px solid #ff4400;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 40vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .home img{
    
        width: fit-content;
    
  }