.create, .create form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
}

.create h1{
    text-align: center;
}

.create th{
    display: flex;
    align-items: flex-start;
}

.create textarea{
    width: 30em;
}

.add{
    margin-left: .5em;
}

.send{
    font-size: 1.5em;
}
.uploaded{
    display: flex;
    flex-direction: row;
}



.image{
    width: 10vw;
}


.close {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.2em 0.4em 0.4em 0;
}

.close button{
    font-size: 1em;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 0.3em;
    border-width: 0.1em;
    outline: none;
    width: 2em;
}

.diets{
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 0.2em;
}